%h3 Editing
= form_with model: @task, url: task_path, method: :put do |f|
  %p
    Title
    %br/
    = f.text_field(:title, class: 'form-control')
  .field
    = f.label :description
    = f.rich_text_area(:description)
  / <div class="field">
  / </div>
  = @task.description
  %p
    flow_step_id
    %br/
    = f.text_field(:flow_step_id, class: 'form-control')
  %p
    Level
    %br/
    = select_tag :level, options_for_select(Task.levels)
  %p
    = f.submit(class: 'btn btn-success')
