<h3>Editing</h3>
<%= form_for :task, url: department_plan_flow_step_task_path, method: :put do |f| %>

  <p>
    Title <br>
    <%= f.text_field(:title, class: 'form-control') %>
  </p>

    <div class="field">
  <%= f.label :description %>
  <%= f.rich_text_area(:description) %>
    </div>
  <%#= form_with(model: task) do |form| %>
<!--    <div class="field">-->
      <%#= form.label :description %>
      <%#= form.rich_text_area :description %>
<!--    </div>-->
  <%# end %>
  <%= @task.description %>


  <p>
    flow_step_id <br>
    <%= f.text_field(:flow_step_id, class: 'form-control') %>
  </p>
  <p>
    Level <br>
    <%= select_tag :level, options_for_select(Task.levels) %>
  </p>
  <p>
    <%= f.submit(class: 'btn btn-success') %>
  </p>
<% end %>