%h3 Editing
= form_with model: @task, url: task_path, method: :put do |f|
  %p
    Title
    %br/
    = f.text_field(:title, class: 'form-control')
  .field
    = f.label :description
    = f.rich_text_area(:description)
  / <div class="field">
  / </div>
  = @task.description
  %p
    = f.label :flow_step_id
    = f.text_field(:flow_step_id, class: 'form-control')
  %p
    f.label :level
    = f.select :level, User.levels.keys, {}, {class: 'form-control'}
  %p
    = f.submit(class: 'btn btn-success')

- @task.comments.each do |c|
  = c.title