= form_for(:task, url: department_plan_flow_step_tasks_path(@flow_step)) do |f|
  %p
    = f.label(:title)
    = f.text_field(:title, {:class => 'form-control'})
  %p
    = f.label(:description)
    = f.text_field(:description, {:class => 'form-control'})
  %p
    = f.submit("Add task", {:class => 'btn btn-success'})
