%h3= @task.title
= @task.description
= form_with model: @state, url: task_task_state_path(id: @state.id, task_id: @task.id), method: :put do |f|
  .field
    %br
    = f.select :state, TaskState.states.keys, {}, {class: 'form-control'}
  .actions
    %br
    = f.submit("Save", class: 'btn btn-success')

- @task.comments.each do |c|
  = c.body