<h3>Editing</h3>
<%= form_for :user, url: user_path(@user), method: :put do |f| %>

  <p>
    First name <br>
    <%= f.text_field(:first_name, class: 'form-control') %>
  </p>
  <p>
    Last name <br>
    <%= f.text_field(:last_name, class: 'form-control') %>
  </p>
  <p>
    Avatar<br>
    <%= f.file_field(:avatar) %>
  </p>

  <p>
    <%= f.submit(class: 'btn btn-success') %>
  </p>
<% end %>