%div{:style => "text-align: center;"}
  %h2= @department.title
  = link_to 'Add plan', new_department_plan_path(@department.id), class: 'btn btn-primary'

- @department.plans.each do |plan|
  .alert.alert-light{:style => "text-align: center;"}
    %strong= plan.title
    .outer
      .inner
        = link_to 'Open', department_plan_path(plan), :class => 'btn btn-primary'
      .inner
        = button_to 'Delete', department_plan_path(plan), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger'
      .inner
        = link_to 'Edit', edit_department_plan_path(plan), :class => 'btn btn-warning'
