<%= @plan.title %>

<%= form_for(:flow_step, url: department_plan_flow_steps_path(plan_id: @plan.id)) do |f| %>
  <p>
    <%= f.label(:title) %>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("Add flow step", {:class => 'btn btn-success'}) %>
  </p>
<% end %>

<div id="plan">
  <section class="lists-container">
    <% @plan.flow_steps.each do |fs| %>
      <div class="list">

        <h3 class="list-title"><%= fs.title %></h3>

        <ul class="list-items">
          <% fs.tasks.each do |task| %>
            <% if current_user.level == task.level || current_user.admin? %>
              <li><%= task.title %></li>
            <% end %>
          <% end %>
        </ul>

        <%#= link_to 'Add flow step', department_plan_flow_step_tasks_url(flow_step_id: fs.id), class: 'add-card-btn btn' %>

        <%= form_for(:task, url: department_plan_flow_step_tasks_url(flow_step_id: fs.id, plan_id: @plan.id)) do |f| %>
          <p>
            <%= f.text_field(:title, {:class => 'form-control'}) %>
          </p>
          <p>
            <%= f.submit("Add task", {:class => 'add-card-btn btn'}) %>
          </p>
        <% end %>
      </div>
    <% end %>

    <button class="add-list-btn btn">Add a list</button>

  </section>
</div>
