%div{:style => "text-align: center;"}
  %h2= @plan.title
  = form_for(:flow_step, url: plan_flow_steps_path(plan_id: @plan.id)) do |f|
    %p
      = f.text_field(:title, {:class => 'form-control'})
    %p
      = f.submit("Add flow step", {:class => 'btn btn-success'})
#plan
  %section.lists-container
    - @plan.flow_steps.each do |fs|
      .list
        %h3.list-title= fs.title
        %ul.list-items
          - fs.tasks.each do |task|
            - if current_user.level == task.level || current_user.admin?
              = link_to edit_task_path(task) do
                %li= task.title
        = form_for(:task, url: flow_step_tasks_path(flow_step_id: fs.id, plan_id: @plan.id), method: :post) do |f|
          %p
            = f.text_field(:title, {:class => 'form-control'})
          %p
            = f.submit("Add task", {:class => 'add-card-btn btn'})
    %button.add-list-btn.btn Add a list
